.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;
  @include medium-max {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.logo__color {
  color: var(--accent-txt-cl);
}

.logo--light {
  color: var(--light-txt-cl);
}

.logo--dark {
  color: var(--dark-txt-cl);

  @include medium-min {
    margin-right: 88px;
  }

  @include large-min {
    margin-right: 93px;
  }
}
