@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin large-min {
  @media (min-width: $large-width-min) {
    @content;
  }
}

@mixin large-max {
  @media (max-width: $large-width-max) {
    @content;
  }
}

@mixin medium-min {
  @media (min-width: $medium-width-min) {
    @content;
  }
}

@mixin medium-max {
  @media (max-width: $medium-width-max) {
    @content;
  }
}

@mixin small-min {
  @media (min-width: $small-width-min) {
    @content;
  }
}

@mixin small-max {
  @media (max-width: $small-width-max) {
    @content;
  }
}
