.header {
  border-bottom: 1px solid var(--header-border);
}

.header__wrapper {
  display: flex;
  align-items: center;

  @include small-max {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__pages {
  display: none;

  @include small-min {
    list-style-type: none;
    display: flex;
    justify-content: left;
    align-items: center;
  }
}

.header__item {
  margin-right: 50px;
}

.header__item:last-child {
  margin-right: 0px;
}

.header__menu-link {
  position: relative;

  padding-top: 32px;
  padding-bottom: 32px;

  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;

  color: #212121;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__menu-link:hover,
.header__menu-link:focus {
  color: var(--accent-txt-cl);
}

.header__contact {
  margin-left: auto;
  display: none;

  @include small-min {
    display: block;
  }
}

.header__list {
  list-style-type: none;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 30px;
}

.header__contact-link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--main-txt-cl);

  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact-link:hover,
.header__contact-link:focus {
  color: var(--accent-txt-cl);
}

.header__contact-icon {
  fill: currentColor;
}

.current {
  color: var(--accent-txt-cl);
}

.current::after {
  position: absolute;
  left: 0;
  bottom: 0;

  content: '';

  display: block;

  width: 100%;
  height: 4px;

  background-color: var(--accent-txt-cl);

  border-radius: 2px;
}
