.team {
  background-color: var(--team-bg-cl);
}

.team__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;

  color: var(--title-txt-cl);
}

.teem__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  gap: 30px;
}
